@tailwind base;
@tailwind components;
@tailwind utilities;

.booking-form-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .booking-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
  }
  